body {
  font-family: "Rubik";
  color: #606060;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  direction: rtl;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik";
  color: #111111;
}
li {
  list-style: none;
}
ul {
  margin: 0px;
}
a {
  color: #606060;
  transition: 0.3s;
}
a:hover {
  color: #ffb628;
  text-decoration: none;
}
input,
input:focus,
textarea {
  outline: none;
}
::placeholder {
  color: #ccc;
}
input,
textarea {
  width: 100%;
  height: 40px;
  border: 1px solid #eee;
  padding: 0px 15px;
}
.me-padder-top {
  padding-top: 40px;
}
.me-padder-top-less {
  padding-top: 36px;
}
.me-padder-bottom {
  padding-bottom: 100px;
}
.me-top-header {
  background: linear-gradient(45deg, #f93e7e, #ffb628);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.me-top-header ul,
.me-main-header ul {
  margin: 0px;
  padding: 0px;
}
.me-top-header ul li {
  display: inline-block;
  color: #ffffff;
  margin-right: 15px;
  position: relative;
}
.me-top-header ul li a {
  color: #ffffff;
}
.me-top-header ul li:last-child {
  margin-right: 0px;
}
.me-top-header-right {
  text-align: right;
}
.me-top-header-right ul li {
  margin-right: 30px;
}
.me-top-header-right ul li i {
  padding-right: 2px;
}
.me-top-header-right li:after {
  position: absolute;
  content: "|";
  right: -18px;
}
.me-top-header ul li:last-child:after {
  display: none;
}
.me-main-header {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 20px;
  width: 100%;
  z-index: 999;
}
.me-main-header .row {
  align-items: center;
}
.me-logo i {
  font-size: 2em;
  color: #f93e7e;
}
.me-about-round-shape i {
  font-size: 3em;
  color: #f93e7e;
  margin-top: 40px;
}
.me-logo a:focus {
  outline: none;
}
.me-logo svg {
  width: 178px;
  height: 41px;
}
.me-menu ul li a,
a.me-login-menu {
  font-size: 16px;
  color: #f93e7e;
  text-decoration: none;
}
.me-menu ul li a:hover {
  color: #ffb628;
  background: #ffb72809;
}
.me-menu ul li a::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0px;
    width: 100%;
    height: 0px;
    background: #fff;
    opacity: 0;
    transition: all 0.6s ease-out 0s;
}
.me-menu ul li a::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0px;
  display:block;
  width: 100%;
  height: 0px;
  background: white;
  transition:0.6s;
  opacity: 0;
}
.me-menu ul li a:hover::before{
    height: 1px;
    opacity: 1;
    top: -22px;
    background:#ffb628;
}
.me-menu ul li a:hover::after{
    content: "";
    display:block;
    width: 100%;
    height: 1px;
    background: #ffb628;
    opacity: 1;
    top:46px
}
.me-menu > ul > li > a,
a.me-login-menu {
  padding: 25px 0px;
}
.me-active-menu {
  color: #f93e7e;
}
.me-login-close {
  font-size: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ffb628;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 1400%;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
.me-login-form input {
  margin-bottom: 20px;
}
.me-login-title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.me-login-model .modal-body {
  padding: 41px 0px 0px;
}
.me-login-model form {
  margin-bottom: 0;
}
.me-login-form {
  padding: 0px 50px;
}
.me-login-btn {
  position: relative;
}
.me-forgot-password,
.me-login-btn p {
  position: absolute;
  left: 0;
  top: 0;
}
.me-login-btn p {
  margin-bottom: 0px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.me-login-btn p a {
  color: #f93e7e;
  padding-right: 5px;
  font-weight: 600;
}
.me-login-btn .me-btn {
  line-height: 39px;
}
.me-login-model .modal-content {
  border: none;
  border-radius: 0;
}
.modal.me-login-model {
  overflow-y: auto;
}
.me-banner {
  padding: 100px 0px;
  position: relative;
  overflow: hidden;
}
.me-banner .col-md-7 {
  display: flex;
  align-items: center;
}
.me-btn {
  display: inline-block;
  min-width: 130px;
  height: 40px;
  line-height: 40px;
  border: none;
  background: #fa77a5;
  color: #ffffff;
  outline: none;
  text-align: center;
  border-radius: 30px;
  position: relative;
  transition: 0.3s;
  text-transform: capitalize;
  cursor: pointer;
}
.me-btn-s{
  margin-right: -50px;
  display: inline-block;
  min-width: 80px;
  height: 40px;
  line-height: 40px;
  border: none;
  background: #fa77a5;
  color: #ffffff;
  outline: none;
  text-align: center;
  border-radius: 30px;
  position: relative;
  transition: 0.3s;
  text-transform: capitalize;
  cursor: pointer;
}
.me-btn-s:focus {
  outline: none;
}
.me-btn-s:hover {
  background: #ffffff;
  color: #606060;
}
.me-btn-s:after {
  position: absolute;
  border: 2px solid #ffb628;
  content: "";
  width: 80px;
  height: 40px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 30px;
  transform: scale(0);
  transition: 0.3s;
}
.me-btn-s:hover:after {
  transform: scale(1);
}
.me-btn:focus {
  outline: none;
}
.me-btn:hover {
  background: #ffffff;
  color: #606060;
}
.me-btn:after {
  position: absolute;
  border: 2px solid #ffb628;
  content: "";
  width: 130px;
  height: 40px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 30px;
  transform: scale(0);
  transition: 0.3s;
}
.me-btn:hover:after {
  transform: scale(1);
}
.me-banner-two-text:after {
  position: absolute;
  top: 20px;
  left: -40px;
  width: 90%;
  bottom: -40px;
  background-image: radial-gradient(#dfdfdf 2px, transparent 2px);
  content: "";
  background-size: 25px 25px;
  z-index: -1;
  animation: dot_mover 6s linear infinite alternate;
}

@keyframes dot_mover {
  0% {
    transform: translateX(-20);
  }
  100% {
    transform: translateX(30px);
  }
}
@keyframes mover {
  0% {
    transform: translateX(-10);
  }
  100% {
    transform: translateX(60px);
  }
}
@keyframes mover1 {
  0% {
    transform: translateX(-20);
  }
  30% {
    transform: translateY(-50);
  }
  70% {
    transform: translateX(-30);
  }
  100% {
    transform: translateY(100px);
  }
}
.me-banner:after {
  position: absolute;
  top: -200px;
  right: 290px;
  width: 650px;
  height: 500px;
  background: #f93e7e;
  content: "";
  border-radius: 20px;
  transform: rotate(45deg);
  z-index: -1;
  box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
}
.me-flex {
  display: flex;
}
.me-flex span {
  flex: 1;
  font-size: 16px;
}
.me-heading h1,
.me-heading2 h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: capitalize;
}
.me-heading {
  margin-bottom: 20px;
}
.me-heading h4 {
  border-left: 4px solid #ffb628;
  padding-left: 10px;
  font-size: 18px;
}
.me-heading2 {
  text-align: center;
  margin-bottom: 40px;
}
.me-heading2 h1 {
  padding-bottom: 10px;
  font-size: 2.5em;
  position: relative;
}
.me-heading2 h1:after {
  border-bottom: 2px solid #ffb628;
  position: absolute;
  content: "";
  width: 280px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.me-about {
  padding-top: 120px;
}
.me-footer,
.me-plans{
  position: relative;
  background: #fbfbfb;
}
.me-footer {
  padding: 99px 0 98px;
}
.me-footer-share {
  margin-top: 20px;
}
.me-footer-share li {
  display: inline-block;
  margin-right: 5px;
}
.me-footer-share li a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
}
.me-copyright-block p a {
  font-weight: 600;
}
.me-footer-copyright p {
  margin: 0;
  text-transform: capitalize;
  color: #fff;
}
.me-footer-copyright {
  padding: 15px 0px;
  background: linear-gradient(45deg, #f93e7e, #ffb628);
  margin-bottom: 0px;
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
}
.me-copyright-block ul {
  display: flex;
  justify-content: flex-end;
  padding-left: 0px;
}
.me-copyright-block ul li {
  margin-right: 15px;
  text-transform: capitalize;
}
.me-copyright-block ul li:last-child {
  margin-right: 0px;
}
.me-copyright-block a {
  color: #ffffff;
}
.me-breadcrumb-box a:hover {
  color: #f93e7e;
}
#me-rate {
  padding: 15px 0px;
  background: #111111;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  overflow: hidden;
}
#me-rate span {
  color: #ffffff;
  margin-right: 10px;
}
#me-rate marquee {
  cursor: pointer;
}
.me-breadcrumb {
  padding: 20px 0px;
  background: linear-gradient(45deg, #f93e7f73, #ffb72871);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 85px;
}
.me-breadcrumb:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.me-breadcrumb-box {
  z-index: 1;
  position: relative;
  text-align: center;
}
.me-breadcrumb-box h1,
.me-breadcrumb-box p,
.me-breadcrumb-box a {
  color: #ffffff;
}
.me-breadcrumb-box h1 {
  font-size: 36px;
  font-weight: 600;
}
.me-breadcrumb-box p {
  margin-bottom: 0px;
}
.me-breadcrumb-box a {
  position: relative;
  padding-right: 25px;
}
.me-breadcrumb-box a:before {
  position: absolute;
  content: "";
  top: 11.5px;
  right: 7px;
  background: white;
  width: 8px;
  height: 1px;
  transform: rotate(-40deg);
}
.me-breadcrumb-box a:after {
  position: absolute;
  content: "";
  top: 7px;
  right: 7px;
  background: white;
  width: 8px;
  height: 1px;
  transform: rotate(40deg);
}
.me-btn-center {
  margin: 30px 0px 0px;
}
.me-plan-footer .me-btn {
  line-height: 39px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.me-plans-box {
  background: #ffffff;
  text-align: center;
  position: relative;
  transition: 0.3s;
  box-shadow: 0px 15px 27px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 48px;
  border-radius: 3px 3px 0px 0px;
}
.me-plan-header {
  padding: 12px 0px;
  border-bottom: 1px solid #ffb628;
  border-top: 3px solid #f93e7e;
  border-radius: 3px 3px 0px 0px;
}
.me-plan-title {
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  color: #f93e7e;
}
.me-plan-duration {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}
.me-plan-duration span {
  color: #ffb628;
  font-size:1.2em;
}
.me-div{
  color: #f93e7e;
}
.me-div .links > a:hover{
  color: #ffb628 !important;
}
.me-plan-body {
  padding: 16px 0px;
  z-index: 2;
  min-height: 260px;
  position: relative;
  background: #fff;
}
.me-plan-shape {
  z-index: -1;
}
.me-plan-shape:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 80px;
  background: #ffffff;
  border-radius: 230px / 30px;
  left: 0;
  bottom: -23px;
  transition: all 0.4s;
}
.me-plan-body ul {
  padding-left: 0;
  padding-top: 25px;
}
.me-plan-body ul li:last-child {
  padding-bottom: 0px;
}
.me-plan-body ul li {
  padding-bottom: 10px;
}
.me-plan-footer {
  position: relative;
  z-index: 1;
  padding: 12px 0px 10px;
  border-top: 1px solid #ffb628;
  background: #ffffff;
}
.me-plan-body h4 {
  font-weight: 600;
}
.me-plans-box:hover {
  transform: translate(0px, -10px);
}
iframe{
  width: 80%;
  height: 80%;
}
.me-my-profile-head p {
  margin-bottom: 0;
  color: #fff;
}
.me-my-profile-head h4 {
  margin-bottom: 15px;
  color: #fff;
  font-weight: 600;
}
.me-profile-name h4:last-child {
  margin-bottom: 0;
}
.me-my-profile-head {
  background: linear-gradient(45deg, #f93e7e, #ffb628);
  padding: 20px 25px 50px 25px;
  border-radius: 5px 5px 0px 0px;
  display: flex;
}
.me-my-account-profile{
  background: #fff;
  box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.me-my-profile-img img {
  border-radius: 100%;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.me-my-profile-img {
  margin-top: 5px;
}
.me-my-profile-body ul{
  padding: 0;
}
.me-my-profile-body ul li select {
  margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: 40px;
    border: 1px solid #eee;
    padding: 0px 15px;
    color: rgb(202, 201, 201);
}
.me-my-profile-body {
  padding: 8px 15px 15px;
}
.me-my-profile-body ul li p {
  margin-bottom: 0;
  word-break: break-all;
}
.me-my-profile-body ul li {
  display: flex;
  margin-bottom: 12px;
}
.me-my-profile-body ul li:last-child{
  margin-bottom: 0px;
}
.me-my-profile-body ul li .me-profile-data,
.me-my-profile-head div {
  flex: 1;
}
div#me-profile-modal input::-webkit-inner-spin-button,
div#me-profile-modal input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.me-account-profile-shape svg {
  fill: #fff;
}
.me-account-profile-shape {
  margin-top: -49px;
}

.me-my-profile-img-main {
  position: relative;
  width: max-content;
  float: right;
  overflow: hidden;
}
.me-my-profile-img-main:hover {
  background: rgba(17, 17, 17, 0.66);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  border-radius: 100%;
  z-index: 0;
  transition: 0.3s;
}
.me-my-profile-img-main:hover {
  visibility: visible;
  opacity: 1;
}
.me-my-account .me-btn {
  line-height: 39px;
}
/* profile modal */
#me-profile-modal .modal-body input {
  width: calc(100% - 190px);
  height: 40px;
}
#me-profile-modal .modal-body label {
  display: flex;
  align-items: center;
}
#me-profile-modal .modal-body label span {
  padding-right: 15px;
  width: 190px;
}
#me-profile-modal .modal-header {
  padding-bottom: 0px;
  border-bottom: none;
}
#me-profile-modal .modal-footer {
  border-top: 1px solid #eee;
  padding: 30px;
}
#me-profile-modal .close {
  outline: none;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 6px;
  right: 10px;
  color: #fff;
  transition: 0.3s;
}
#me-profile-modal .close:hover {
  color: #f93e7e;
  text-shadow: none;
}
#me-profile-modal .modal-body {
  padding: 0px;
}
#me-profile-modal form {
  padding: 22px 30px 30px;
  margin-bottom: 0;
}
#me-profile-modal .modal-body label {
  margin-bottom: 10px;
}
#me-profile-modal .modal-body label:last-child {
  margin-bottom: 0px;
}
#me-profile-modal .modal-content {
  border: none;
}
.me-my-profile-change .me-my-profile-svg input {
  width: 85px;
  z-index: 2;
  opacity: 0;
  transform: translate(0px, -30px);
  cursor: pointer;
  height: 145px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.me-comment-detail {
  width: calc(100% - 80px);
  padding-left: 15px;
}
.me-comment-detail-share a {
  padding-right: 10px;
}
.me-contaict-detail {
  padding-bottom: 45px;
  min-height: 350px;
}
.me-contact-form textarea {
  resize: none;
  min-height: 120px;
  padding: 15px;
}
.me-contact-form input,
.me-contact-form textarea {
  margin-bottom: 20px;
}
.response {
  color: #ff0000;
  margin-top: 10px;
}
#me-rate p {
  animation: marquee 30s linear infinite;
  white-space: nowrap;
  margin-bottom: 0;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.me-banner-two {
  position: relative;
  overflow: hidden;
  padding: 40px 0px 100px;
}
.me-banner-two:after {
  position: absolute;
  top: -200px;
  right: -200px;
  width: 680px;
  height: 820px;
  background: #f93e7e;
  content: "";
  border-radius: 100px;
  transform: rotate(-63deg);
  z-index: -1;
  box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
}
.me-banner-two:before {
  position: absolute;
  top: 0;
  left: -310px;
  width: 480px;
  height: 390px;
  background: #f93e7e;
  content: "";
  border-radius: 100px;
  transform: rotate(-50deg);
  z-index: -1;
  box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
}
.me-banner-two-text h1{
  font-size: 56px;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 26px;
}
.me-banner-two-text {
  padding: 50px 0px;
  position: relative;
  margin-top: 25px;
}
.me-banner-two .row .col-md-6:first-child {
  display: flex;
  align-items: center;
}
.me-banner-two-text .me-btn{
  margin-right: 15px;
  text-decoration: none;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.me-banner-two:before {
  animation: banner_move 20s linear alternate infinite;
}
@keyframes banner_move {
  0%,
  100% {
    transform: translateY(0px) rotate(-50deg);
  }
  50% {
    transform: translateY(80px) rotate(-50deg);
  }
}
.me-banner-two:after {
  animation: banner_move_two 10s linear alternate infinite;
}
@keyframes banner_move_two {
  0%,
  100% {
    transform: translateX(1px) rotate(-63deg);
  }
  50% {
    transform: translateX(30px) rotate(-63deg);
  }
}
.me-about-two-box {
  position: relative;
}
.me-about-two-box:before {
  position: absolute;
  top: 30px;
  right: 35px;
  height: 200px;
  background-image: radial-gradient(#eeeeee 3px, transparent 2px);
  content: "";
  background-size: 20px 20px;
  z-index: -1;
  transform: rotate(41deg);
}
.me-about-two-shape {
  box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: relative;
  height: 550px;
  z-index: 1;
  margin: 0 8px;
  margin-bottom: 28px;
  transition: 0.5s;
  text-align: center;
  padding: 16px;
  padding-top: 0px;
}
.me-about-two-shape .me-about-round-shape {
  width: 80px;
  height: 80px;
  z-index: -1;
  border-radius: 100%;
  margin: 0 auto 20px;
  line-height: 120px;
  display: block;
  position: relative;
}
.me-about-two-shape ul li{
  background: white;
}
.me-about-two-shape ul li p{
  text-align: right;
  padding: 0px 12px;
  background: white;
}
.me-svg-dot li:after {
  position: absolute;
  content: "";
  top: 15px;
  left: -1px;
  width: 6px;
  height: 6px;
  background: #f93e7e;
  border-radius: 100%;
}
.me-svg-dot li:nth-child(2):after {
  left: auto;
  right: -3px;
  top: 10px;
}
.me-svg-dot li:nth-child(3):after {
  left: 0;
  bottom: 45px;
  top: auto;
  right: 0;
  margin: auto;
}
.me-svg-dot {
  opacity: 0;
  visibility: hidden;
}
.me-about-two-shape:hover .me-svg-dot {
  animation: me-rotating 5000s linear infinite;
  margin-top: -80px;
  opacity: 1;
  visibility: visible;
}
@keyframes me-rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(0deg);
    transform: rotate(180000deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.me-about-two-list {
  padding: 0;
  margin-top: 20px;
}
.me-about-two-shape:hover .me-about-two-list li {
  margin-right: -40px;
}
.me-about-two-list li:last-child {
  transition: 0.8s;
}
.me-about-two-list li a {
  display: block;
  background: #fff;
  color: black;
  text-decoration: none;
}
.me-about-two-list li {
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  transition: 0.3s;
  border-bottom: #ffb628 0.5px solid;
  border-right: #ffb628 0.5px solid;
}
.me-about-two-list li:last-child {
  margin-bottom: 0px;
}
.me-about-two-list li:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  content: "";
  width: 8px;
  height: 8px;
  background: #ffb628;
  margin: auto 0;
  border-radius: 100%;
}
.rmvBtn {
  display: inline-block;
  min-width: 130px;
  height: 40px;
  line-height: 40px;
  border: none;
  background: #fa77a5;
  color: #ffffff;
  outline: none;
  text-align: center;
  border-radius: 30px;
  position: relative;
  transition: 0.8s;
  text-transform: capitalize;
  cursor: pointer;
  margin-top: 8px;
  padding: 0 20px;
  background: #ffb628;
}
.rmvBtn:hover {
  background: #fa77a5;
  color: #fff;
  animation-name:anim;
  animation-duration: 2s;
  position: relative;
}
@keyframes anim {
  0%  {background-color: #f93e7e;}
  50%   {background-color: #ffb628;}
  100%  {background-color: #fa77a5;}
}
.me-about-two-list li svg {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.3s;
}
.me-about-two-list li a:hover svg {
  fill: #f93e7e;
}
@media (max-width: 1600px) {
  .me-banner:after {
    right: 180px;
    width: 680px;
    height: 400px;
  }
  .me-banner-two:after {
    right: -450px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-160%);
    }
  }
}
@media (max-width: 1399px) {
  .me-banner-two:before {
    top: -60px;
    left: -340px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-150%);
    }
  }
}
@media (max-width: 1199px) {
  .me-banner:after {
    right: 120px;
    width: 550px;
    height: 370px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-190%);
    }
  }
}
@media (min-width: 992px) {
  .me-main-header ul {
    display: inline-block;
  }
  .me-menu > ul > li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
  }
  .me-menu {
    text-align: left;
    text-decoration: none;
  }
  .me-toggle-nav {
    display: none;
  }
}
@media (max-width: 991px) {
  iframe{
    width: 100%;
    height: 100%;
  }
 .me-banner {
    padding: 60px 0px;
  }
  .me-about {
    padding-top: 50px;
  }
  .me-about.me-about-single {
    padding-top: 80px;
  }
  .me-about-two-box,
  .me-my-account-profile,
  .me-contact-form {
    margin-bottom: 30px;
  }
  .me-padder-bottom{
    padding-bottom: 60px;
  }
  .me-padder-top {
    padding-top: 60px;
  }
  .me-padder-top-less {
    padding-top: 56px;
  }
  .me-footer {
    padding: 59px 0 28px;
  }
  .me-copyright-block ul {
    justify-content: center;
    margin-top: 3px;
  }
  .me-footer-copyright {
    text-align: center;
  }
  .me-menu-ul{
    display: none;
  }
  .me-menu ul li a {
    color: #666566;
  }
  .me-menu ul li a:hover {
    color: #f93e7e;
    background: none;
  } 
  .me-menu ul li a::before{
      position: absolute;
      content: '';
      left: 0;
      top: 0px;
      width: 0;
      height: 0px;
      background: #fff;
      opacity: 0;
      transition: all 0.6s ease-out 0s;
  }
  .me-menu ul li a::after{
      position: absolute;
      content: "";
      left: 0;
      top: 0px;
    display:block;
    width: 0;
    height: 0px;
    background: white;
    transition:0.6s;
    opacity: 0;
  }
  .me-menu ul li a:hover::before{
      height: 1px;
      opacity: 1;
      background:none;
  }
  .me-menu ul li a:hover::after{
      content: "";
      display:none;
      width: 100%;
      height: 1px;
      background: #f93e7e;
      opacity: 1;
  }
  .me-menu-open {
    position: fixed;
    left: -300px;
    background:linear-gradient( 45deg , #d8d7d7ec, #fff);
    top: 0;
    bottom: 0;
    width: 250px;
    z-index: 99;
    box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    overflow-x: auto;
    padding-bottom: 70px;
  }
  .me-menu.me-menu-open {
    left: 0px;
  }
  .me-menu-open  {
    padding: 24px 20px 0px;
    display: block;
  }
  .me-menu-open li {
    border-bottom: 2px solid #e7e6e6;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .me-menu-open li:last-child {
    border: none;
    padding-bottom: 0;
  }
  .me-menu li.me-menu-children {
    position: relative;
  }
  .me-menu li.me-menu-children:before,
  .me-menu li.me-menu-children:after {
    position: absolute;
    bottom: 0;
    content: "";
    background: #f93e7e;
  }
  .me-menu li.me-menu-children:after {
    right: 21px;
    width: 12px;
    height: 2px;
    top: 25px;
  }
  .me-menu li.me-menu-children:before {
    right: 26px;
    width: 2px;
    height: 12px;
    top: 20px;
  }
  a.me-login-menu {
    float: right;
  }
  .me-toggle-nav {
    display: block;
    float: left;
    margin-top: 6px;
    cursor: pointer;
  }
  .me-toggle-nav span {
    display: block;
    width: 18px;
    height: 2px;
    background: rgb(148, 147, 147);
    margin-bottom: 4px;
    transition: 0.3s;
  }
  .me-toggle-nav span:nth-child(2) {
    width: 10px;
    margin-right: 7px;
  }
  .me-toggle-nav span:nth-child(3){
    margin-bottom: 0px;
  }
  .me-banner-two-text:after {
    top: -20px;
    bottom: -20px;
  }
  .me-banner-two-text {
    padding: 0px;
    margin-top: -13px;
  }
  .me-banner .col-md-7,
  .me-banner-two .row .col-md-6:first-child {
    display: block;
    align-items: unset;
  }
  .me-banner-two {
    padding: 60px 0px;
  }
  .me-banner-two:after {
    top: -320px;
    right: -560px;
  }
  .me-about-two-shape {
    width: auto;
  }
  .me-about-two-shape:hover .me-about-two-list li {
    margin-right: 0px;
  }
  .me-plans-box {
    margin-bottom: 53px;
  }
  .me-breadcrumb {
    padding: 24px 0px;
  }
  .me-contaict-detail {
    padding-bottom: 55px;
  }
  .me-menu-open .me-toggle-nav span:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .me-menu-open .me-toggle-nav span:nth-child(1) {
    transform: translate(1px, 6px) rotate(-48deg);
  }
  .me-menu-open .me-toggle-nav span:nth-child(3) {
    transform: translate(1px, -6px) rotate(48deg);
  }
  .me-menu.me-menu-open > ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  .me-menu.me-menu-open > ul::-webkit-scrollbar {
    width: 3px;
  }
  .me-menu.me-menu-open > ul::-webkit-scrollbar-thumb {
    background-color: #f93e7e;
  }
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .me-banner-two-text:after{
    display: none;
  }
  .me-banner-two-text h1 {
    font-size: 40px;
  }
  .me-banner-two{
    background: linear-gradient(45deg,rgba(255, 255, 255, 0.418),#ffb72828, #f93e7f1f);
  }
  .me-banner-two:after {
    position: absolute;
    top: -20px;
    right: -80px;
    width: 222px;
    height: 273px;
    background: #f93e7e;
    content: "";
    border-radius: 50px;
    transform: rotate(-63deg);
    z-index: -1;
    box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
  }
  .me-banner-two:before {
    position: absolute;
    top: 200px;
    left: -110px;
    width: 180px;
    height: 160px;
    background: #f93e7e;
    content: "";
    border-radius: 50px;
    transform: rotate(-50deg);
    z-index: -1;
    box-shadow: 1.5px 3.99px 27px 0px rgba(0, 0, 0, 0.1);
  }
  .me-btn{
    margin: 8px;
  }
  .me-banner-two-text{
    margin-top: -10px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-320%);
    }
  }
}
@media (max-width: 575px) {
  .me-login-form {
    padding: 0px 30px;
  }
}
@media (max-width: 480px) {
  .me-btn{
    min-width: 90px;
  }
  .me-btn:focus {
    outline: none;
  }
  .me-btn:hover {
    background: #ffffff;
    color: #606060;
  }
  .me-btn:after {
    position: absolute;
    border: 2px solid #ffb628;
    content: "";
    width: 90px;
    height: 40px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 30px;
    transform: scale(0);
    transition: 0.3s;
  }
  .me-btn:hover:after {
    transform: scale(1);
  }
}
